.switchBase
{
    width: 100px;
    height: 23px;
    background-color: #66e0ff;
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 1.5em;
    transform: translateX(-50%);
}
#switchButton
{
    background-color: #e6e6e6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#switchMainButton
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    background-color: rgba(115,115,115,0.5);
}